/* 初期設定 */
* {
    box-sizing: border-box;
}


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #222;
    background-color: #fdfdfd;

    overflow: hidden;
}




/* 初期状態：真っ白なページ */
.opening {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8000;
    transition: opacity 0.5s ease;
}

/* ボタンのフェードインアニメーション用のラッパーdiv要素 */
.opening__button-wrapper {
    opacity: 0;
    animation: fadeInUp 1s ease-out 1s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.opening__button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 0 #86A;

    position: relative;
    overflow: hidden;

    transform: translateY(0);
    transition: all 0.3s ease;
}

/* ボタンがきらめいているように見せるための疑似要素 */
.opening__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

.opening__button:hover {
    transform: translateY(6px);
    box-shadow: none;
}


/* コンソールダイアログ */
.console {
    position: fixed;

    top: 10%;
    right: 0;
    width: 40%;
    max-width: 800px;
    height: 60%;

    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    z-index: 7000;
    transition: all 0.8s ease;
    font-family: 'Courier New', monospace;
}



.console--visible {
    opacity: 0.8;

    top: 10%;
    right: 0;
    width: 40%;
    max-width: 800px;
    height: 60%;

    transform: translateX(0);
}

.console--minimized {
    opacity: 0.8;

    bottom: 0;
    right: 0;
    width: 40%;
    max-width: 800px;
    height: 10%;

    transform: translateX(0);
}

.console--maximized {
    opacity: 0.8;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translateX(0);
}

.console--hidden {
    opacity: 0;

    transform: translateX(200px);
}

.console.active {
    opacity: 0.8;
    transform: translateX(0);
}

.console__header {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    line-height: 1rem;
    gap: 12px;
}

.console__buttons-wrapper {
    display: flex;
    gap: 8px;
}

.console__button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;

    border: none;
}

.console__red-button {
    background: #ff5f57;
}

.console__yellow-button {
    background: #ffbd2e;
}

.console__green-button {
    background: #28ca42;
}

.console__title {}

.console__body {
    padding: 0 20px;
    height: calc(100% - 60px);
    background: #1e1e1e;
    color: #00ff41;
    font-size: 0.8rem;

    white-space: pre-wrap;

    overflow: hidden;
}

/* .code-line {
    opacity: 0;
    animation: typeIn 0.5s ease forwards;
    margin-bottom: 5px;
} */

/* @keyframes typeIn {
    to {
        opacity: 1;
    }
} */

.console__cursor {
    display: inline-block;
    background: #00ff41;
    width: 2px;
    height: 0.8rem;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* .page-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, #000 20%);
    pointer-events: none;
    z-index: 5000;

    transition: transform 10s linear;
    transform: translateY(0);
} */

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6000;
    pointer-events: none;
    transition: all 0.8s ease;
}

.canvas--hidden {
    opacity: 0;
}


/* ヘッダー */
.header {
    background: linear-gradient(0deg, #cf2e2e, #e45b5b);
    color: white;
    padding: 0.5rem 2rem;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 3s ease;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background 0.3s;
}

.nav__item a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* セクション */
.section {
    display: flex;
    gap: 1rem;

    position: relative;

    font-size: 1.2rem;

    /* margin: 4rem auto; */
    padding: 6rem 6rem;
    /* max-width: 900px;
    width: 90%; */

    background: #F9F9F9;
    /* border: 2px solid #004;
    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */

    scroll-margin-top: 5rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;


    width: 60%;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    color: #b30e0e;
}

/* .section-title::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 240px;
    height: 3px;
    background: linear-gradient(to right, #667eea, #764ba2);
    border-radius: 2px;
} */

.section-image-wrapper {
    width: 40%;
}

.section-image {
    max-width: 100%;
    height: auto;
}

.section:nth-child(2n) {
    clip-path: polygon(0 0, 100% 20vh, 100% calc(100% - 20vh), 0 100%);
    margin-top: -17vh;
}

.section:nth-child(2n+1) {
    clip-path: polygon(0 20vh, 100% 0%, 100% 100%, 0 calc(100% - 20vh));
    margin-top: -17vh;

    flex-direction: row-reverse;
}

/* Hero セクション */
.hero {
    position: relative;
    z-index: 5;
    height: 100vh;
    width: 100%;
    max-width: none;
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
}

.hero__bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.hero__bg-image:nth-child(1) {
    background-image: url("../img/index/image13.jpg");
}

.hero__bg-image:nth-child(2) {
    background-image: url("../img/index/image14.jpg");
}

.hero__bg-image:nth-child(3) {
    background-image: url("../img/index/image15.jpg");
}

.hero__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.hero__bg-image.active {
    opacity: 1;
}

.hero__catch-copy {
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.6);
    /* 半透明 */
    backdrop-filter: blur(5px);
    /* 背景ぼかし（対応ブラウザのみ） */
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.4;

    padding: 1.5rem 2rem;
    max-width: 80%;
    color: #222;
    /* 黒に近い濃いグレー */
}

.hero__event-details {
    display: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;

    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;

    /* border-collapse: separate; */
    /* セル間に隙間を作る */
    /* border-spacing: 12px 12px; */
    /* 行間の縦の隙間を12pxに */
}

.hero__event-details td {
    padding: 0rem;
    vertical-align: top;
}

.hero__event-details td:first-child {
    font-weight: bold;
    color: #d84315;
    /* 朱色に近い */
    padding-right: 1rem;
    /* 1列目と2列目の間に余白 */
    white-space: nowrap;
    /* 長い行の折返しを防ぐ */
}

.news {

    margin-top: -9vh !important;
    z-index: 4;
    background-color: #ffeeee;
}


.purpose {
    z-index: 3;
    display: flex;
    justify-content: space-between;

    background-color: #ffeeee;

}

.purpose__content {
    width: 60%;
}

.purpose__event-details {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;

    /* border-collapse: separate; */
    /* セル間に隙間を作る */
    /* border-spacing: 12px 12px; */
    /* 行間の縦の隙間を12pxに */
}

.purpose__event-details td {
    padding: 0rem;
    vertical-align: top;
}

.purpose__event-details td:first-child {
    font-weight: bold;
    color: #d84315;
    /* 朱色に近い */
    padding-right: 1rem;
    /* 1列目と2列目の間に余白 */
    white-space: nowrap;
    /* 長い行の折返しを防ぐ */
}

.purpose__image-wrapper {
    width: 40%;
}

.purpose__image {
    max-width: 100%;
    height: auto;
}



/* Flowセクション */
.flow {
    z-index: 2;
    background-color: #ffeeee;
}

.flow__list {

    /* padding: 0;
    position: relative; */

    /* padding-left: 1rem; */
    /* list-style-type: disc; */
    padding: 0.5em;
    list-style: none;
}

.flow__item {
    /* position: relative;
    margin-bottom: 1rem; */

    /* color: black;
    border-left: solid 8px orange;
    background: whitesmoke;
    margin-bottom: 5px;
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    padding: 0.5em;
    list-style-type: none !important; */


    position: relative;
    padding: 0.5em 1em 0.5em 2.3em;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255, 143, 0, 1);
}

.flow__item:after,
.flow__item:before {
    position: absolute;
    content: '';
    transform: rotate(45deg);
}

.flow__item:before {
    top: 0.7em;
    left: 0.2em;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255, 143, 0, 1);
}

.flow__item:after {
    top: 0.9em;
    left: 0.7em;
    width: 14px;
    height: 14px;
    background: rgba(255, 143, 0, 0.5);
    transform: rotate(60deg);
}


.closing {
    z-index: 1;
    background-color: #ffeeee;

    font-size: 1.4rem;
}

/* .flow__item::before {
    content: '★';
    position: absolute;
    left: 0;
    color: #ffd166;
} */

/* アンケート*/
/* .survey {
    opacity: 0;
}

.survey__link-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
} */


/* フッター */
.footer {
    position: relative;
    margin-top: -10vh;

    background-color: #ff7f6c;
    color: white;
    text-align: center;
    padding: 3rem 0rem 1rem;
    font-size: 0.9rem;

    z-index: 10;
}

.footer__copyright {
    color: #ffefec;
}

/* アニメーション */
/* @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* スクロールアニメーション */
/* .fade-in {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease;
}

.fade-in.visible {
    visibility: visible;
    opacity: 1;
} */


/* レスポンシブ */
@media (max-width: 768px) {

    .nav__list {
        /* flex-direction: column;
        gap: 1rem; */
        display: none;
    }
}